# Ignore all files in tests folders by default (but not the folders themselves)
# This excludes outputs and compiler artifacts
/*/*
!/*/*/
/*/*/*
!/*/*/*/
# *Don't* ignore ground truths and untangled source files
!**/*.gt
!**/*.unt
# Don’t ignore this gitignore file
!/.gitignore
