/* Inter */
@import 'https://rsms.me/inter/inter.css';


/* Plex Sans */

@font-face {
  font-family: 'Plex Sans Var';
  font-style: normal;
  font-weight: 100 700;
  src: url('./fonts/plex/IBMPlexSansVar-Roman.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Plex Sans Var';
  font-style: italic;
  font-weight: 100 700;
  src: url('./fonts/plex/IBMPlexSansVar-Italic.woff2') format('woff2-variations');
}

/* Berkeley Mono */
@font-face {
  font-family: 'Berkeley Mono Var';
  font-style: normal;
  font-weight: 100 150;
  src: url('https://fonts.luk.ke/BerkeleyMonoVariable-Regular.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Berkeley Mono Var';
  font-style: italic;
  font-weight: 100 150;
  src: url('https://fonts.luk.ke/BerkeleyMonoVariable-Italic.woff2') format('woff2-variations');
}

/* Variables */

$body: 'Inter var', sans-serif;
$heading: 'Plex Sans Var', sans-serif;
$mono: 'Berkeley Mono Var', 'Berkeley Mono Variable', 'Berkeley Mono', 'Menlo', monospace;
