*, *::before, *::after {
  box-sizing: border-box;
}

:where(*) {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:where(blockquote, q) {
  quotes: none;

  &:before,
  &:after {
    content: none;
  }
}

pre {
  font-family: inherit;
  font-style: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
